<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/forum.css' %}">
    <title>forum</title>
</head>
<body>
    <div class="container">

        <header><h1>SomethinSpicy's forum!</h1></header>
        <hr></hr>
        <p class="head">Welcome, {{ user.first_name }}!</p>
    <p class="nav">
        <a href="/logout">log off</a> | 
        <a href="/main">Home</a>
    </p>
    
    <h1 class="f-head">Posts Announcements</h1>
    <div class="forum">
        {% for comment in comments%}
        <div class="comments">
            <div class="c-header">
                <h3 class="name">{{comment.user.user_name}}</h3>
                <p>{{comment.created_at}}</p>
            </div>
            <p>{{ comment.description }}</p>
            <p>{{comment.likes.all | length}}</p>
            {% if user not in comment.likes.all%}
            <p><a href="/forumlike/{{comment.id}}/{{user.id}}"><img src="{% static 'img/upvote.png' %}" height="20px" alt="upvote"></a></p>
            {% else %}
            <p><a href="/forumunlike/{{comment.id}}/{{user.id}}"><img src="{% static 'img/downvote.png' %}" height="20px" alt="upvote"></a></p>
            {% endif %}
        </div>
        
        {% endfor %}  
    </div>    
    <div class="announcements">
    

    </div>
    <form action="/comment/{{user.id}}" method="post">
        {% csrf_token %}
        <p>Make a post</p>
        <textarea type='text' name = 'description' cols="40" rows="4"></textarea>
        <button type = 'submit'>Create</button>
    </form>
</div>
</body>
</html>