<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training through weights</title>
</head>
<body>
    <div>
        <h2>Andys work out routines</h2>
    </div>
    <div>
        <p>something about being big</p>
        <p>i specialize in:</p>
        <ul>
            <li>weight management</li>
            <li>diet</li>
            <li>body building</li>
        </ul>
        <form action="/register" method ="post">
            <h3>let me hear about you</h3>
            <label for="fname">First Name</label>
            <input type= 'text' id='fname' name = 'first_name'>
            <label for="lname">Last Name</label>
            <input type= 'text' id='lname' name = 'last_name'>
            <label for="Email">Email</label>
            <input type= 'text' id='Email' name = 'email'>
            <label for="comment">What is your goal?</label>
            <input type= 'text' id='comment' name = 'comment'>
            <button type = 'submit'>Submit</button>
        </form>
    </div>

</body>
</html>