*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px auto;
    height: 700px;
    width: 850px;
    text-align: center;
}
header{
    display: inline-block;
    width: 850px;
    height: 100px;
    text-align: center;
}
header h1{
    display: inline-block;
    width: 500px;
    height: 100px;
}
.links{
    display: inline-block;
    height: 500px;
    width: 200px;
}
.links a{
    width: 170px;
    height: 150px;
}
.links img{
    height: 150px;
    width: 150px;
}
.suggest{
    vertical-align: top;
    display: inline-block;
    height: 400px;
    width: 620px;
}
table{
    border-collapse: collapse;
    text-align: center;
    border: black 2px solid;
    height: 50px;
    width: 620px;
}
table tr{
    height: 10px;
}
table td{
    border-bottom: black 2px solid;
    border-left: black 2px solid;
    vertical-align: top;
    height: 10px;
}
table tbody{
    border: black 2px solid;
}
form{
    vertical-align: bottom;
    height: 70px;
    width: 620px;
}
form p{
    height: 50px;
    width: 620px;
    vertical-align: top;
}
