*{
    
    margin: 0px;
    padding: 0px;
}
body{
    background: cover;
    background-image: radial-gradient(farthest-corner at 20px 20px,#a09000, #00a08f);
    cursor: cell;
    margin: 0px auto;
    height: 750px;
    width: 850px;
    text-align: center;
}
header{
    font-family: Georgia, 'Times New Roman', Times, serif ;
    display: inline-block;
    width: 850px;
    height: 100px;
    text-align: center;
    border: 2px black solid;
    background-color: #1c4755;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
header h1{
    display: inline-block;
    width: 500px;
    height: 100px;
    color: #F66747
}
header button{
    height: 20px;
    font-size: small;
}

.links{
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    height: 614px;
    width: 200px;
}
.links a{
    width: 150px;
    height: 120px;
}
.links img{
    height: 140px;
    width: 140px;
}
.suggest{
    vertical-align: top;
    display: inline-block;
    height: 400px;
    width: 620px;
}
.one{
    overflow: auto;
    height: 300px;
    width: 620px;
}
table{
    color: black;
    background-image: linear-gradient(90deg, rgb(107, 103, 103) 30%,silver);
    border-collapse: collapse;
    text-align: center;
    border: black 2px solid;
    height: 50px;
    width: 620px;
}
table tr{
    height: 10px;
}
table td{
    border-bottom: black 2px solid;
    border-left: black 2px solid;
    vertical-align: top;
    height: 10px;
}
table tbody{
    border: black 2px solid;
}
table a{
    background-color: lavender;
    color: rgb(216, 110, 48);
    text-decoration: none;
}

form{
    vertical-align: bottom;
    height: 70px;
    width: 620px;
}
form p{
    height: 50px;
    width: 620px;
    vertical-align: top;
}
form button{
    height: 20px;
    font-size: small;
}
#bio{
    border: #1c4755 2px solid;
    border-radius: 50%;
    color: #ff9f52;
    background: #a00010;
    height: 250px;
    text-align: center;
}
#bio p{
    padding-left: 17%;
    padding-top: 3%;
    width: 400px;
}


#bio h2{
    padding-top:3%;
}
button {
    height: 40px;
    width: 60px;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
