*{
    
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #00a08f;
    cursor: cell;
    margin: 0px auto;
    height: 700px;
    width: 850px;
    text-align: center;
}
header{
    font-family: Georgia, 'Times New Roman', Times, serif ;
    display: inline-block;
    width: 850px;
    height: 100px;
    text-align: center;
}
header h1{
    display: inline-block;
    width: 500px;
    height: 100px;
}
.links{
    padding-top: 5px;
    padding-bottom: 5px;
    border: #1c4755 2px solid;
    background-color: #ff9f52;
    display: inline-block;
    height: 614px;
    width: 200px;
}
.links a{
    width: 170px;
    height: 150px;
}
.links img{
    height: 150px;
    width: 150px;
}
.suggest{
    vertical-align: top;
    display: inline-block;
    height: 400px;
    width: 620px;
}
.one{
    overflow: auto;
    height: 300px;
    width: 620px;
}
table{
    color: #1c4755;
    background: #ff9f52;
    border-collapse: collapse;
    text-align: center;
    border: black 2px solid;
    height: 50px;
    width: 620px;
}
table tr{
    height: 10px;
}
table td{
    border-bottom: black 2px solid;
    border-left: black 2px solid;
    vertical-align: top;
    height: 10px;
}
table tbody{
    border: black 2px solid;
}
table a{
    background-color: lavender;
    color: rgb(216, 110, 48);
    text-decoration: none;
}

form{
    vertical-align: bottom;
    height: 70px;
    width: 620px;
}
form p{
    height: 50px;
    width: 620px;
    vertical-align: top;
}
#bio{
    border: #1c4755 2px solid;
    color: #1c4755;
    background: #ff9f52;
}
button {
    height: 40px;
    width: 60px;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
