*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #00a08f;
    text-align: center;
    margin: 0px auto;
    height: 800px;
    width: 800px;

}
header{
    color: #EFC458;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 150px;
    width: 800px;
    text-align: center;
}
header h1 {
    font-size:70px;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 800px;
}
.reg{
    padding-top: 5px;
    padding-bottom: 5px;
    border: #1c4755 2px solid;
    background-color: #ff9f52;
    display: inline-block;
    height: 300px;
    width: 170px;
}
.log{
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: top;
    display: inline-block;
    background-color: #ff9f52;
    border: #1c4755 2px solid;
    height: 300px;
    width: 180px;
}