*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px auto;
    text-align: center;
    height: 700px;
    width: 1000px;
    background-color: black;
}
#container{
    text-align: center;
    margin: 0px auto;
    height: 700px;
    width: 1000px;
}
header{
    vertical-align: top;
    height: 100px;
    width: 1000px;
    background-color: #FF4500;
}
header h1{
    font-size: 40px;
    display: inline-block;
    height: 100px;
    width: 300px;
}
header p{
    display: inline-block;
    height: 100px;
    width: 50px;
}
div{
    background-color: #FFFACD	 ;
    display: inline-block;
    vertical-align: center;
    vertical-align: top;
    width: 300px;
    height: 500px;
    margin-right: 5px;

}

h3{
    background-image:linear-gradient(#FA8072, whitesmoke,#FA8072) ;
    height: 50px;
    width: 300px;
}
.comments{
    background: none;
    overflow: auto;
    height:150px;
    width: 300px;
}
table{
    width: 300px;
    border-collapse: collapse;
}
table thead tr{
    background-image:linear-gradient(gray, whitesmoke,gray) ;

}
table tbody tr:nth-child(odd){
    border: black 2px solid;
    background: rgba(150, 113, 113, 0.651);
}
