#wrapper{
    background-image: url(desert.jpeg);
}
.header{
    background: coral;
    display: flex;
    justify-content: space-between
}
#main{
    height: 100px;
    margin-top: 50px;
    margin-left: 30px;
}
#icon{
    height: 100px;
    padding-top: 50px;
    margin-right: 30px;
}
#icon img{
    height: 50px;
    margin-right: 30px;
}


